@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px #353030;
}

.input {
  height: 80px;
  padding: 1rem;
  color: white;
  text-align: end;
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  background-color: #252424;
  box-shadow: 0 2px 10px rgb(95, 95, 95);
}

.numeric-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.btn {
  height: 70px;
  width: 70px;
  font-size: clamp(1.85rem, 5vw, 2.2rem);
  border: none;
  outline: none;
  border-radius: 50%;
  color: white;
  background-color: #252424;
  cursor: pointer;
  transition: all 0.35s ease;
  text-shadow: 0 1px 10px black;
}

.btn:hover {
  background-color: #2e2d2d;
}

.powGrey {
  color: rgb(32, 31, 31);
  background-color: rgb(173 169 169);
  text-shadow: none;
}
.powGrey:hover {
  background-color: rgb(202, 198, 198);
}
.orange {
  background-color: rgb(255, 106, 0);
}

.orange:hover {
  background-color: rgb(244, 124, 39);
}

@media (max-width: 450px) {
  .input {
    height: 50px;
  }
  .calculator {
    padding: 1rem;
  }
  .btn {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 370px) {
  .btn {
    height: 50px;
    width: 50px;
  }
}
