@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.calculator {
  height: fit-content;
  width: 50vmin;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px #353030;
}

.input {
  color: white;
  text-align: end;
  font-size: 1.95rem;
  font-weight: bold;
  margin: 1rem 0;
}

.numeric-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.btn {
  height: 10vmin;
  width: 10vmin;
  font-size: 1.95rem;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #252424;
  cursor: pointer;
  transition: all 0.35s ease;
  text-shadow: 0 1px 10px black;
}

.btn:hover {
  background-color: #2e2d2d;
}

.powGrey {
  color: rgb(32, 31, 31);
  background-color: rgb(223, 213, 213);
  transition: all 0.35s ease;
  text-shadow: none;
}
.powGrey:hover {
  background-color: rgb(143, 149, 156);
}
.orange {
  background-color: rgb(255, 106, 0);
  transition: all 0.35s ease;
}

.orange:hover {
  background-color: rgb(245, 106, 7);
}
